@page "/"
@using MessagerieInstantaneeV4.Objects
@using MessagerieInstantaneeV4.Services
@inject IJSRuntime JsRuntime
@inject MessagerieApiService MessagerieService

<div class="div-container">
    <div class="left">
        <h2>Liste des contacts</h2>
        @if (_users == null || _isLoading)
        {
            <p>Chargement</p>
        }
        else
        {
            @foreach (var user in _users)
            {
                <div class="list_contact">
                    <p class="contact">@user.Data.Nom</p>
                </div>
            }
        }
    </div>

    <div class="right">
        <h2>Messagerie</h2>
        @if (_sortedMessages == null || _isLoading)
        {
            <p>Chargement</p>
        }
        else
        {
            <div class="messaging-app">
                <div class="messages">
                    @foreach (var message in _sortedMessages)
                    {
                        <div class="message">
                            @if (message.SourceList == ListType.SenderMessages)
                            {
                                <div class="message sent">
                                    <div class="container-message">
                                        <div class="container-picture">
                                            <img src="assets/avatar-de-personne-icone-homme.png" alt="image homme"
                                                 class="pp"/>
                                        </div>
                                        <div class="container-data">
                                            <div class="data">
                                                @if (message.IDSENDER == "MwxjPF4KW1eikS2IS7J5")
                                                {
                                                    <p class="nom">Corentin</p>
                                                }
                                                else
                                                {
                                                    <p class="nom">Kilian</p>
                                                }

                                                <p class="date">@DateTime.Parse(message.TIME).ToString("dd/MM/yyyy HH:mm:ss")</p>
                                            </div>
                                            <p class="content">@message.MESSAGE</p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="message received">
                                    <div class="container-message">
                                        <div class="container-picture">
                                            <img src="assets/avatar-de-personne-icone-femme.png" alt="image femme"
                                                 class="pp"/>
                                        </div>
                                        <div class="container-data">
                                            <div class="data">
                                                @if (message.IDSENDER == "MwxjPF4KW1eikS2IS7J5")
                                                {
                                                    <p class="nom">Corentin</p>
                                                }
                                                else
                                                {
                                                    <p class="nom">Kilian</p>
                                                }
                                                <p class="date">@DateTime.Parse(message.TIME).ToString("dd/MM/yyyy HH:mm:ss")</p>
                                            </div>
                                            <p class="content">@message.MESSAGE</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="input-area">
                    <input @bind="_newMessage" type="text" placeholder="Écrivez un message...">
                    <button @onclick="SendMessage">Envoyer</button>
                </div>
            </div>
        }
    </div>
</div>